@{
    ViewData["Title"] = "Listado de personajes";
}

<h1 style="color: red; margin: auto;">
    Personajes
</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>IdPersonaje</th>
            <th>Nombre</th>
            <th>Imagen</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@*        @foreach (var item in Model) {
            <tr>
                <td>
                    IdPersonaje
                </td>
                <td>
                    Nombre
                </td>
                <td>
                    Imagen
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                    @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                    @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
                </td>
            </tr>
        }*@
    </tbody>
</table>

@section Scripts {
    <script>
        $(document).ready(function (){
            $.get("https://107.23.192.30/api/Personajes/GetPersonajes", function (data) {
                console.log(data);
            });
        });
    </script>
}