@{
    ViewData["Title"] = "Listado de personajes";
}

<h1 style="color: red; margin: auto;">
    Personajes
</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>

<div id="content"></div>

@section Scripts {
    <script>
        $(document).ready(function (){
            $.get("https://3.85.203.186/api/Personajes/GetPersonajes", function (data) {
                // Limpiar el contenido de la tabla antes de agregar los datos
                $("#content").empty();

                // Crear la estructura de la tabla
                var table = $("<table>").addClass("personajes-table table table-dark");
                var thead = $("<thead>").appendTo(table);
                var tbody = $("<tbody>").appendTo(table);

                // Crear la fila de encabezado
                var headerRow = $("<tr>").appendTo(thead);
                $("<th>").text("ID").appendTo(headerRow);
                $("<th>").text("Nombre").appendTo(headerRow);
                $("<th>").text("Imagen").appendTo(headerRow);
                $("<th>").text("Acciones").appendTo(headerRow);

                // Iterar sobre los datos y agregar filas a la tabla
                data.forEach(function (personaje) {
                    var row = $("<tr>").appendTo(tbody);
                    $("<td>").text(personaje.idPersonaje).appendTo(row);
                    $("<td>").text(personaje.nombre).appendTo(row);
                    $("<td>").html('<img src="' + personaje.imagen + '" style="width: 150px;">').appendTo(row);
                    $("<td>").html('<a href="/Personajes/Details?idPersonaje=' + personaje.idPersonaje  + '" class="btn btn-primary">Detalles</a>').appendTo(row);
                });

                // Agregar la tabla al elemento con el ID "content"
                $("#content").append(table);
            });
        });
    </script>
}